@font-face {
  font-family: 'neue';
  src: url(./fonts/neue/NeueMontreal-Regular.otf) format("opentype");
}

@import "tailwindcss";
@import "tw-animate-css";



html , body{
    height: 100%;
    width: 100%;
}

html {
  scroll-behavior: smooth;
}

.my-font {
  font-family: "neue", sans-serif;
}


.hide-scrollbar::-webkit-scrollbar {
    display: none;
}


